{% extends "datadump/base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block dashboard %}
<link rel="stylesheet" href="{% static 'datadump/styles/login-form.css' %}">
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Wrong username or password!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<main class="main">
    <div class="form-container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">Reset Password</h1>
                <p class="text text-normal">Enter email to reset your password</p>
            </div>
            <form name="login" class="form" method="POST">
                {% csrf_token %}
                {% for item in form %}
                <div class="input-control">
                    {{ item }}
                </div>
                {% endfor %}
                <div class="input-control">
                    <small>Remember Password?<a href="{% url 'login' %}" class="text text-links"> Log In</a></small>
                    <button type="submit" name="submit" class="input-submit">Request Password Reset</button>
                </div>
            </form>
        </section>
    </div>
</main>
<script>
    $(document).ready(function(){
        $("#id_email").attr('placeholder', 'Email');
    });

</script>
{% endblock %}